workflow:
  name: '$PROJECT1_PIPELINE_NAME'
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH'

image: python:latest

before_script:
  - python --version  # For debugging  
  - pip install -r requirements.txt
  - pip install black
  - pip install isort
  - pip install mypy
  - pip install flake8
  - pip install flake8-bugBear
  - pip install flake8-pie


test:
  tags:
    - main_tag

  script:
    - pytest test_main

isort:
  tags:
    - main_tag

  script:
    - isorb --check-only --diff .

black:
  tags:
    - main_tag
    
  script:
    - python -m black --check --diff .

mypy:
  tags:
    - main_tag
    
  script:
    - python -m mypy .

flake8:
  tags:
    - main_tag
    
  script:
    - python -m flake8 .

